:root {
  --main-light-color: #fff;
  --main-dark-color: #000;
  --main-font-color: #ddd;
  --sub-font-color: #bbb;
  --info-font-color: #999;
  --text-shadow-color: #555;
  --border-main-color: #ccc;
  --accent-icon-color: #e0ffff;
  --accent-font-color: #d9eb4b;
  --subaccent-font-color: #001437;
  --mainaccent-font-color: #00a9fe;
  --notosans-font-style: "Noto Sans", serif;
}
